


    .inner {
    position: absolute; 
    top: 50%;
    color: tomato;
    
  }
   
  .outer {
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    height:100px; width: 100%;
  }

