
 .person {
  width: 30%;
  height: 40%;

}

.margin{       /*отступ для товаров   */
  margin:100px;

}
.padding{           /*верхний отступ между товаров   */
  padding-top:20px
}


.testtest{
  width: 18rem;
}

 img{
     cursor: pointer;
 }



